
extends ../../views/layout
    
block content 
  - var isPresent = function(contract) {
  -   return true // TODO: check if contract is present and deployed 
  - }

  if !contract.deployed
    p The contract has not been deployed yet
    
    form(action="/deploy_contract" method="post")
      input(name="contract[name]", value=contract.name, type="hidden")
      input(value="Deploy", type="submit")
    
  else
    if isPresent(contract)
      p The contract is present at address: #{contract.address}
      
      p These are all the methods available:
      
      p Getters:
      
      ul
        each method in contract.getters
          li
            h4
              a(href="/api/#{contract.name}/#{method.name}")= method.name
      
      p Setters:
      
      ul
        each method in contract.setters
          li
            h4= method.name 
            form(action="/api/#{contract.name}/#{method.name}", method="post")
              each input in method.inputs
                - label = `${input.name} (${input.type})`
                input(name="values[]" placeholder=label type="text")
                input(name="types[]" value=input.type type="hidden")
                
              input(value="call" type="submit")
      
      p Your coinbase is: #{eth.coinbase}
